html,body{
    overflow-x: hidden;
}

.container-fluid {
    /* padding-bottom: 250px; */
    background-image: url("../img/nightsky.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.pt-5{
    padding-bottom: 250px;
}
.my-5 {
}

.text-white {
}
.text-center {
}
.mb-4 {
}
.row {
}
.col-md-4 {
}

.mb-3 {
}
.p-3 {
}
.bg-dark {
}
.rounded {
    transition: box-shadow 0.3s ease-in-out;
    border: 1px solid transparent;
}
.rounded:hover {
    box-shadow: 0 0 10px 2px #ececec;
    border-color: #ececec;
}
.shadow {
}


